/*About.html Page CSS*/
.about-me-header {
    margin: 6% 0 0;
}
.about-me-header img {
    min-height: 465px;
}
.about-me-header h1 {
    margin: 6% 0;
    display: inline-block;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3;
}
.about-me p {
    font-size: 18px;
    color: #6f6f6f;
    line-height: 1.5;
}
.design-process img {
    display: table;
    height: 187px;
    margin: 0 auto;
}
.design-process h3 {
  font-size: 23px;
}
.design-process p {
  color: rgb(128, 128, 128);
  font-size: 15px;
  padding: 0 14px 20px;
  text-align: center;
}
.my-process{
    margin: 2em;
    display: inline-block;
}
.my-process h1{
    margin: 1.5em;
    font-size: 45px;
}
.fun-facts{
    margin: 1em 0 2em;
    display: inline-block;
}
.education-and-experience-block {
    margin: 2em 0;
}
.education-and-experience-block h4{
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5;
}
.education-and-experience-block ul{
    list-style: none;
    padding-left: 0;
}
.education-and-experience-block ul li{
    margin: 20px 0;
}
.education-and-experience-block ul li h5{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 3px;
}
.education-and-experience-block ul li span{
    font-size: 13px;
    color: #a7a7a7;
}
/*Media Query For Mobile*/
@media only screen and (max-width: 768px) {
    .about-me-header h1 {
        font-size: 28px;
    }
    .about-me p {
        font-size: 16px;
    }
    .my-process{
        margin: 0;
        display: block;
    }
    .my-process h1{
        margin: 1.5em 0;
        font-size: 35px;
    }
    .about-me-header img {
        min-height: auto;
    }
}