/*Indicidual page Style sheet*/

.individual-page-banner img{
	width: 100%;
}
.individual-page-body{
	width: 640px;
	margin:7em auto 2em;
}
.individual-page-body h1{
	font-size: 48px
}
.individual-page-body h4{
	font-size: 31px;
    margin-top: 1em;
}
.individual-page-body p{
	font-size: 18px;
    color: #565656;
}
.screens img{
	width: 100%;
	box-shadow: 0 20px 20px rgba(0,0,0,.08);
	margin-bottom: 6em;
}
.live-icons img{
	width: auto;
	box-shadow: 0 20px 20px rgba(0,0,0,.08);
	margin-bottom: 6em;
}
.screens h4{
	font-size: 48px;
    margin: 1em 0;
    font-weight: bold;
    text-align: center;
}
.screens span {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}
.screens .individual-screen-information p{
	font-size: 18px;
    color: #565656;
}
.screens .individual-screen-information ul{
	margin: 2em 0;
}
blockquote.freshin{
	border-left: 5px solid #7ed320;
	font-size: 25px;
    font-weight: 300;
    margin: 2em 0;
}
.all-instances span {
    margin-bottom: 3em;
    display: block;
} 

/*Media Query For Mobile*/
@media only screen and (max-width: 768px) {
	.individual-page-body {
	    width: auto;
	    margin: 3em 1.5em;
	}
	.individual-page-body h1 {
	    font-size: 38px;
	    font-weight: bold;
	}
	.individual-page-body p{
		font-size: 16px;
	}
	.individual-page-body h4{
		font-size: 26px;
	}
	.screens h4{
		font-size: 35px;
	}
}